.Episodes{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.pagination {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
}